* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: linear-gradient(120deg, #1a065e, #2f7b06);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-container {
  background-color: #bfb954;
  padding: 30px;
  width: 550px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #000000;
}

.input-box {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.input-box input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.input-box button {
  padding: 10px 15px;
  background-color: #66a6ff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.input-box button:hover {
  background-color: #4a90e2;
}

ul {
  list-style: none;
}

li {
  padding: 12px;
  background-color: #f0f0f0;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s;
}

li:hover {
  background-color: #e0e0e0;
}

li.completed span {
  text-decoration: line-through;
  color: gray;
}

.actions {
  display: flex;
  gap: 8px;
}

.actions button {
  background: none;
  border: none;
  cursor: pointer;
  color: #555;
  font-size: 16px;
}

.actions button:hover {
  color: red;
}
